@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

Welcome to My Blazor App!
Stay organized and take control of your day with a suite of helpful tools at your fingertips.

Notes to capture your thoughts,
Budget Tracker to manage your finances & a
Habit Tracker to build better routines
Plus, enjoy a customizable experience with light and dark mode options. Dive in and make it yours!
